*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#main-container{
    
}

@media (max-width:1000px){
    #left{
        display: none;
    }

    #right{
        margin: auto;
    }
}



#left{
    background-color: black;
    color: white;
    padding: 0px 60px 0px 50px;
}

#right{
    padding: 0px 60px 0px 60px;
}

#img{
    
    padding: 70px 0px 30px 30px;
    margin: auto;
}

img{
    border-radius: 50%;
}

#contact{
    display: block;
    padding: 30px 0px 30px 30px;
}

#allcontact{
    padding-top: 10px;
}

i{
    padding: 10px;
}

#mail, #number, #address, #linkedin{
    text-transform: uppercase;
}

#education{
    display: block;
    padding: 30px 0px 30px 30px;
}

#alleducation{
    padding-top: 15px;
}

.school{
    padding-top: 10px;
}

#ename{
    font-family:Georgia, 'Times New Roman', Times, serif
}

#skill{
    
    display: block;
    padding: 70px 35px 30px 35px;;
}


#head{
    background-color: #e2e2e2;
    margin-left: 20px;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}

#name{
text-align: center;
padding-bottom: 5px;
font-family: Arial, Helvetica, sans-serif;
}

#profile{
    text-align: center;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#exp1{
    display: block;
    padding: 60px 30px 30px 30px;
}
#exp2{
    display: block;
    padding: 30px;
}

#exp3{
    display: block;
    padding: 30px;
}

#refrence{
    display: block;
    padding: 30px; 
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e2e2e2;
    border-radius: 30px;
}
.material{
    padding-top: 10px;
}

.button{
    text-align: center;
}

.heading{
    text-align: center;
    padding-bottom: 30px;
}

.expp1, .expp2, .expp3{
    display: flex;
    padding-top: 10px;
}


.exp1, .exp2, .exp3{
    margin-left: auto;
}

#small{
   background-color: white;
   width: 17%;    
}

#big{
    background-color: white;
    width: 90%;
}

#smallw{
    background-color:black;
    width: 5%;  
   border: 1px solid black;
 }

 #bigw{
    background-color:black;
    width: 98%;  
   border: 1px solid black;
 }

 #medium{
     background-color: black;
     width: 25%;
 }

 #mediums{
    background-color: black;
    width: 25%;
    margin: auto;
 }
 

 #sdt{
     padding-top: 20px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     
    }

 .heads{
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
 }

 .headss{
     font-weight:900;
  font-family: Arial, Helvetica, sans-serif;
 }

 #icon{
     display: block;
 }

 #icons{
     background-color: black;
    width: 8%;  
    border: 1px solid black;   
    margin: auto;
    display: block;
    position: absolute;
    margin-left: 378px;
    margin-top: 30px;
 }

 #iconsr{
    background-color: black;
   width: 8%;  
   border: 1px solid black;   
   margin: auto;
   display: block;
   position: absolute;
   margin-left: 543px;
   margin-top: 26px;


}





 div.a{
    width: 55px;
    height: 55px;
    border: 2px solid black; 
    -ms-transform: rotate(40deg); /* IE 9 */
    transform: rotate(40deg);
    display: block;
    margin: auto;
 }

 #icon{
     padding-bottom: 30px;
 }

 #lefthr{
   display: flex;
 }

 #righthr{
    display: flex;
 }


